.section3_container{
    height:95vh;
    width:100%;
    position: relative;
    /* z-index: -5; */
    background-color:#101820ff;
    border-radius: 45px;
    box-shadow: 10px 10px 8px #0c0c0c9c;
}
.main3{
    padding-left:440px;
    padding-top:50px;
    font-family:poppins;
   color:white;
   display: flex;
   flex-direction: column;
}
.headsection3-1{

display: inline-block;
}
.headsection3-2{
    display: inline-block;
    margin-left:100px;
   
}
.submain{

    height:500px;
    width:100%;
    justify-content: space-evenly;
   display: flex;
   align-items: center;
}